.full-container{
    position: fixed;
    width:100vw;
    height:100vh;
    top:0;
   object-fit: cover;
    background: url('file_upload.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom:200px;
    overflow-y: scroll;
}



h1{
    font-weight: bolder;
    font-size: 40px;
    color:beige;
    text-align: center;
}

.file-area{
    position: relative;
    width:400px;
    height:40%;
    margin: 20px auto;
    background: rgba( 65, 90, 155, 0.45 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7.5px );
-webkit-backdrop-filter: blur( 7.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}



.file-input{
    border:5px dashed #330d40;
    border-radius:1em;
    padding:2px;
    font-size: 15px;
}

.file-input::-webkit-file-upload-button{
    background:#ff629c66 ;
    color:white;
    padding:5px 5px;
    border: none;
    border-radius: 1em;
}

.input{
    position: absolute;
    top:11%;
    left: 7%;
    padding: 15px;

}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:38%;
    left:35%;
    
}

.upload,.clear{
    width:100px;
    height:60px;
    text-align: center;
    padding:20%;
    color:white;
    font-weight: 900;
    cursor: pointer;
    border-radius: 20px;
    background: #ff958a;
    box-shadow: inset 5px 5px 11px #b36861,
                inset -5px -5px 11px #ffc2b3;
}

.upload{
    margin-bottom:30px;
}

.csv{
    position: absolute;
    bottom:.5cm;
    left:2cm;
    color:red;
    font-weight: 900;
}

.user-input{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-input-items{
    margin-right: 20px;
    text-align: center;
    font-size: large;
    color: #e0e0e0;
    width: 200px;
    height: 60px;
    padding:20px;
    background-color: #1f1f1f;
    border-radius: 1em;
}

.long-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:90vw;
    height:700px;
    left:100px;
    top:60px;
    background-color: #FAF9F659;
    box-shadow:  5px 5px 6px #989898,
    -5px -5px 6px #383838;
    border-radius: 1.5em;
    transition:  background 1s ease-in-out 500ms;
}

.long-container:hover{
    background: #fff;
}


.chart{
    position: relative;
    width: 35em;
    height:30em;
    padding:30px 20px;
    margin:20px 20px;
    border-radius: 1em;
    box-shadow:  20px 20px 60px #727272,
             -20px -20px 60px #ffffff;
    background-color: #e0e0e0;
}

.chart,.stats{
    transition: translate 500ms ease-in-out 100ms;

}

.stats{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20em;
    height:30em;
    padding:30px 20px;
    margin:20px 20px;
    border-radius: 1em;
    box-shadow:  20px 20px 60px #727272,
             -20px -20px 60px #ffffff;
    background-color: #e0e0e0;
}

.chart:hover,.stats:hover{
    translate: 0 -12px;

}

.stat{
    position: relative;
    width: 15em;
    height: 7em;
    margin: 10px 20px;
    padding:10px 20px;
    background-color: #1f1f1f;
    border-radius:1em ;
    box-shadow: 3px 3px 3px #000;
    transition: translate 500ms ease-in-out 100ms;

}

.stat:hover{
    translate: 0 -10px;
}

.metric{
    
    color: white;
}



.value{
    font-weight: bolder;
    font-size:18px;
    color:white;
    font-family: 'Kanit', sans-serif;
    font-family: 'Open Sans', sans-serif;

    
}
span.icon{
    color:white;
    text-align: left !important;
    
    font-size: large;

}

.metrics-btn{
    position:relative;
    text-align: center;
    font-size: medium;
    top:100px;
    color: #e0e0e0;
    width: 200px;
    height: 60px;
    padding:20px;
    margin: 0 auto;;
    background-color: #1f1f1f;
    border-radius: 1em;
}

.chart-btns{
    display: flex;
    align-items: center;
    justify-content: center;
}
.chart-btn{
    position:relative;
    text-align: center;
    font-size: medium;
    color: #e0e0e0;
    width: 200px;
    height: 60px;
    padding:20px;
    top:100px;
    
    margin: 0 auto;
    background-color: #1f1f1f;
    border-radius: 1em;
}

#canvas,#canvas1{
    width:30em;
    height:29em;
    
}