<div class="full-container">
    <nav class="nav">
        <h1>Sales Prediction Application</h1>
        <div class="log_reg">
            <p class="login" (click)='login()'>Login</p>
            <p class="signup" (click)="signup()">SignUp</p>
        </div>
    </nav>
    <div class="context">
        <div class="text">What we're gonna do now?</div>
        <div class="card">
            <img src="assets/stast.jpg" alt="stats">
            <div class="con-text">
                <h2 class="head" style="color:black; background-color:white">Context</h2>
                <p>We are gonna predict the future sales of a particular sales data-set using a time series algorithm,Sarima in this case</p>
                
            </div>
        </div>

    </div>
</div>













<!-- 
<div>
    <h1>Welcome!!</h1>
    <p>New user?,then please sign-up</p>
    <div>
        <button (click)="login()">Login</button>
        <button (click)="register()">Register</button>
    </div>
</div> -->
